.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.author-text {
  font-weight: 500;
  margin-bottom: 1rem;
}
